#Form1Layout {
    font-family: Verdana;
    font-size: 10pt;
    margin-top: 10px;
    background-color: #f3f3f3;
    border: solid 1px #a1a1a1;
    padding: 10px;
    width: 340px;
    height:325px;
  }

#Form1Layout label {
  text-align: left;
  padding-right: 10px;
  width: 140px;
}

#Form1Layout input {
  width: 300px;
    alignment: right;
}

#Form1Layout label, #Form1Layout input {
    display: block;
    float: left;
    margin-bottom: 10px;
  }

#Form1Layout br {
  clear:both;
}
