<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/multicss.css" type="text/css" media="all" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../static/js/functions.js"></script>
	<script type="text/javascript" src="../static/js/multijss.js"></script>
</head>
<body>
<center><img src="../static/images/back.jpg" width="400" height="100" align="center" hspace="10" vspace="50"></center>
<center><div id="Form1Layout" align="center">
<center><form method="post" action="">
	<p>
		<label>Wittyfeed Main:</label>
		<input type="text" name="wf" value="">
	</p>
	<p>
		<label>Wittyfeed India:</label>
		<input type="text" name="wfm" value="">
	</p>
	<p>
		<label>WFInnervoice:</label>
		<input type="text" name="iv" value="">
	</p>
	<p>
		<label>Sochne wali baat h:</label>
		<input type="text" name="swbh" value="">
	</p>
	<br>
	<p>
		<input type="submit" name="submit" value="Submit">
	</p>
</form></center>
</div></center>
</body>
</html>



